{% extends "FOSUserBundle::layout.html.twig" %}
{%block title%}
    {{parent()}} - Connexion
{%endblock%}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div id="login">
	{% if error %}
	<div class="form-signin">
    <div class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    </div>
	{% endif %}
	<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
		<div class="nav">
		<img class="img-responsive" src="{{asset('assets/public/images/logo.png')}}">
		</div>
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <label for="username">{{ 'security.login.username'|trans }}</label>
	    <input class="input-block-level" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

	    <label for="password">{{ 'security.login.password'|trans }}</label>
	    <input class="input-block-level" type="password" id="password" name="_password" required="required" />
	     <label class="checkbox" for="remember_me">
	    <input  type="checkbox" id="remember_me" name="_remember_me" value="on" />
	   {{ 'security.login.remember_me'|trans }}</label>

	    <input class="btn btn-large btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</form>
</div>
{% endblock fos_user_content %}
