{% extends "CUserBundle::layout.html.twig" %}

{% block title %}
    {{parent()}} - Gestion des comptes
{% endblock %}
{% block content %}
    {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-success">
          {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
  {% endfor %}
    <div class="span12">
        {% block xTitle %}
                    
            <h1>Gestion des comptes</h1>
 
        {% endblock %}
    </div>
    <div>
        <div class="span12">
                
            {% block pageContent %}

            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Identifiant</th>
                        <th>Roles</th>
                        <th>Statut</th>
                        <th>Action</th>
                    </tr>
                </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.firstName }}</td>
                                    <td>{{ entity.lastName }}</td>
                                    <td>{{ entity.username }}</td>
                                    <td>{% for role in entity.roles %} 
                                            {{ role[5:]|capitalize }} <br>
                                        {% endfor %}
                                    </td>
                                    <td>{% if entity.enabled %}
                                        Actif
                                        {% else %}
                                        Inactif
                                    {% endif %}
                                    </td>
                                    <td>
                                        {{ form_start(forms[entity.id])}}
                                          <a class="btn" href="{{ path('account_profile', { 'username': entity.id }) }}">
                                            <i class="icon-eye-open"></i> Afficher 
                                        </a>
                                        <a class="btn btn-primary" href="{{ path('account_edit', { 'username': entity.username }) }}">
                                            <i class="icon-pencil icon-white"></i> editer
                                        </a>
                                        {{ form_label(forms[entity.id].adminRole)}}
                                        {{ form_widget(forms[entity.id].adminRole)}}
                                        {{ form_label(forms[entity.id].status)}}
                                        {{ form_widget(forms[entity.id].status)}}
                                        {{ form_end(forms[entity.id])}}                          
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endblock %}
            </div>
        </div>
            {% block script %}
            {{ parent() }}
            <script src="{{asset('public/vendors/datatables/js/jquery.dataTables.min.js')}}"></script>
            <script src="{{asset('public/assets/scripts.js')}}"></script>
            <script src="{{asset('public/assets/DT_bootstrap.js')}}"></script>
         {% endblock %} 
    {% endblock %}