{% extends "CUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
    {{parent()}} - Gestion des comptes
{% endblock %}
{% block content %}
    {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-success">
          {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
  {% endfor %}
    <div class="span12">
        {% block xTitle %}
                <div class="block span6">
                 <div class="table-responsive">
                    <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Prénom</th>
                            <td> {{ user.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ user.lastName }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'profile.show.username'|trans }}</th>
                            <td> {{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'profile.show.email'|trans }}</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Mot de passe</th>
                            <td><a class="href" href="{{ path('fos_user_change_password') }}">
                                <i class="icon-edit"></i>
                                Changer
                            </a></td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-inverse" href="{{ path('compte_homepage')}}">
                                <i class="icon-chevron-left icon-white"></i>
                                Retour à l'accueil
                            </a></td>
                            <td><a class="btn btn-primary pull-right" href="{{ path('users_edit',{'username':user.username}) }}">
                                <i class="icon-edit icon-white"></i>
                                Editer
                            </a></td>
                        </tr>
                    </tbody>
                </table>
        </div>
            {% endblock %}
        </div>
    </div>
 {% endblock %}