<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <title>{% block title %}Direction des préposés religieux {% endblock %}</title>
    

    <!-- Bootstrap -->
    <link href="{{asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{asset('assets/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="{{asset('assets/build/css/custom.min.css')}}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{{asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
	  
	 
        <div class="top_nav">
          <div class="nav_menu">
            <nav class="navbar navbar-default">
              <div class="container-fluid">

              <ul class="nav navbar-nav">
    <li><a> </a> </li>
      <li>

    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  الحساب
  

                    <span class=" fa fa-angle-down"></span>
                  </a>

                  <ul class="dropdown-menu dropdown-usermenu pull-right" style="margin-right: -85px">
                    <li><a href="{{path('fos_user_profile_show')}}" > بيانات المستخدم</a></li>                
                    <li><a href="{{path('fos_user_security_logout')}}" > خروج </a></li>     
          </ul>
    
    </li>

       
      <li><a> {{ app.user.firstName}} {{ app.user.lastName}}</a> </li>
    
    
      <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-envelope-o"></i>
                      <span id="notificationsNumber" class="badge bg-green"></span>
                    </a>
                    <ul dir="rtl" id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        
                      <li dir="rtl" id="notifications">
                          <span dir="rtl" class="message">
                           ليست لديكم أية تنبيهات
                          </span>
                      </li>
                  </ul>
      </li>
    </ul>
			  </div>
            </nav>
          </div>
        </div>
		 </div>
       
        <!-- /top navigation -->

        <!-- page content -->

          {% block pageContent %}
		  
          {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gestion du budget <a href="#"></a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
           
         

        
{% block js %}
    <!-- jQuery -->
    <script src="{{asset('assets/vendors/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{asset('assets/vendors/fastclick/lib/fastclick.js')}}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{asset('assets/build/js/custom.min.js')}}"></script>
{% endblock %}

  </body>
</html>