{% extends "::base.html.twig" %}
  {% block title %}
     {{parent()}} - Gestion de tresorerie
      {% endblock %}
{% block pageContent %}


                          <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          
          <!-- /top tiles -->

          <br />

         

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel" style="left:0px;width:100%">
                <div class="x_title">
                {% block xTitle %}
                 <h2> الرئيسية </h2>
				 {% endblock %}
                  <div class="clearfix"></div>
                </div>
				
				<div class="x_content">
				 <div class="dashboard-widget-content">
				{% block content %}

 {% if is_granted("ROLE_SUPER_ADMIN") %}
<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>المستخدمون</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('users')}}"><img class="img-responsive" src="{{asset('assets/images/users1.png')}}"></a>
    </div>
  </div>
</div>
{%endif%}

{% if is_granted("ROLE_SUPER_ADMIN") %}
<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>الوحدات الإدارية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('masterentity_index')}}"><img class="img-responsive" src="{{asset('assets/images/Hierarchie_crop.png')}}"></a>
    </div>
  </div>
</div>
{%endif%}

{% if is_granted("ROLE_SUPER_ADMIN") %}
<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>المندوبيات</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('delegation_index')}}"><img class="img-responsive" src="{{asset('assets/images/Delegation.png')}}"></a>
    </div>
  </div>
</div>
{%endif%}


<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>مصنفة الميزانية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('morass_index')}}"><img class="img-responsive" src="{{asset('assets/images/Morass_blue.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>الحسابات البنكية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('account_index')}}"><img class="img-responsive" src="{{asset('assets/images/account.png')}}"></a>
    </div>
  </div>
</div>

{% if is_granted("ROLE_SUPER_ADMIN") %}
<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>ترميز البريد بنك</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('codificationabb_index')}}"><img class="img-responsive" src="{{asset('assets/images/Codification_blue.png')}}"></a>
    </div>
  </div>
</div>
{%endif%}

<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>بيانات الشركاء</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('externalaccount_index')}}"><img class="img-responsive" src="{{asset('assets/images/account.png')}}"></a>
    </div>
  </div>
</div>

{% if not is_granted("ROLE_SUPER_ADMIN") %}
<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>التحويلات</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('movement_index')}}"><img class="img-responsive" src="{{asset('assets/images/transaction.png')}}"></a>
    </div>
  </div>
</div>
{%endif%}

{% if is_granted("ROLE_SUPER_ADMIN") %}
<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>سجل العمليات</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('compte_history')}}"><img class="img-responsive" src="{{asset('assets/images/history.jpg')}}"></a>
    </div>
  </div>
</div>
{%endif%}

{% endblock %}
</div>
</div>
</div>
</div>
<div class="col-md-8 col-sm-8 col-xs-12"> </div>
</div>
</div>
{% endblock %}

{% block js %}
{{parent()}}
{% endblock %}