{% extends "compteBundle::layout.html.twig" %}


{% block xTitle %}
    <h2> إضافة مندوبية </h2>
{% endblock %}
{% block content %}

        <!-- page content -->
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>الرئيسية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="#"><img class="img-responsive" src="{{asset('assets/images/home_blue.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>الوحدات الإدارية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="#"><img class="img-responsive" src="{{asset('assets/images/Hierarchie_crop.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>المندوبيات</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="#"><img class="img-responsive" src="{{asset('assets/images/Delegation.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>مصنفة الميزانية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="#"><img class="img-responsive" src="{{asset('assets/images/Morass_blue.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>الحسابات البنكية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="#"><img class="img-responsive" src="{{asset('assets/images/account.jpg')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>ترميز البريد بنك</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="#"><img class="img-responsive" src="{{asset('assets/images/Codification_blue.png')}}"></a>
    </div>
  </div>
</div>
        <!-- /page content -->
{% endblock %}