{% extends "compteBundle::layout.html.twig" %}


{% block xTitle %}
    <h2> الرئيسية </h2>
{% endblock %}
{% block content %}

        <!-- page content -->
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>المستخدمين</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('compte_homepage')}}"><img class="img-responsive" src="{{asset('assets/images/users1.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>الوحدات الإدارية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('masterentity_index')}}"><img class="img-responsive" src="{{asset('assets/images/Hierarchie_crop.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>المندوبيات</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('delegation_index')}}"><img class="img-responsive" src="{{asset('assets/images/Delegation.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>مصنفة الميزانية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('morass_index')}}"><img class="img-responsive" src="{{asset('assets/images/Morass_blue.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>الحسابات البنكية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('account_index')}}"><img class="img-responsive" src="{{asset('assets/images/account.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>ترميز البريد بنك</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('codificationabb_index')}}"><img class="img-responsive" src="{{asset('assets/images/Codification_blue.png')}}"></a>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>الحسابات الخارجية</h2>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <a href="{{path('externalaccount_index')}}"><img class="img-responsive" src="{{asset('assets/images/account.png')}}"></a>
    </div>
  </div>
</div>

        <!-- /page content -->
{% endblock %}