{% extends "compteBundle::layout.html.twig" %}

{% block xTitle %}
    <h2> تعديل مصنفة الميزانية</h2>
{% endblock %}
{% block content %}

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal form-label-left', 'id':'demo-form2'}}) }}
	<div class="form-group">
	
	<div class="col-md-6 col-sm-6 col-xs-12">
	 {{ form_widget(edit_form.name,{'attr': {'class': 'form-control col-md-7 col-xs-12', 'id':'first-name'}}) }}
		</div>	
		</div>
		<div class="form-group">
		<div class="col-md-6 col-sm-6 col-xs-12">
     
	 {{ form_widget(edit_form.year,{'attr': {'class': 'form-control col-md-7 col-xs-12', 'id':'first-name'}}) }}
			</div> </div>
			
			<div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
				 <input class="btn btn-info" type="submit" value="تعديل" />			
				
                <a class="btn btn-primary" href="{{ path('morass_index') }}">العودة إلى اللائحة</a>
                
      {{ form_end(edit_form) }}
            </div>
           </div>
	
	   
	
        
    
{% endblock %}
