{#
{% extends "compteBundle::layout.html.twig" %}


{% block xTitle %}
    <h2> مصنفة الميزانية </h2>
{% endblock %}
{% block content %}

 <table id="datatable" class="table table-striped table-bordered">
        
            <thead>
            <tr>
			     <th>العمليات</th>
				  <th>التاريخ</th>
                <th>إسم المصنفة</th>
				
                
            </tr>
			</thead>
			<tbody>
            <tr>
               
				 <td>
 <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
				
					 {{ form_start(delete_form) }}
                           <input type="submit" value="حذف" class="btn btn-danger">
						  
						    <a class="btn btn-info" href="{{ path('morass_edit', { 'id': morass.id }) }}">تعديل
							
							</a>
                             {{ form_end(delete_form) }}
							 
							
							 
							</div> </div> 
                          
                       </td>
				
				 <td>{{ morass.year }}</td>
				<td>{{ morass.name }}</td>
               
				
            </tr>
        </tbody>
    </table>

	 <a class="btn btn-primary pull-right" href="{{ path('morass_index') }}">العودة إلى اللائحة
	 
	 </a>
	
	
    
{% endblock %}
#}


{% extends "compteBundle::layout.html.twig" %}


{% block xTitle %}
    <h2> مصنفة الميزانية </h2>
{% endblock %}
{% block content %}

	
	<table id="datatable" class="table table-striped table-bordered" dir="rtl">
        
            <thead>
            <tr>
			    
               
				 <th>توقعات المداخيل لسنة 2017</th>
                 		<th>الفقرة</th>
                 
                 <th>السطر</th> 
                 <th>نوع العمليات</th>
                <th>توقعات النفقات لسنة 2017</th>
                <th>المبلغ المصروف</th>
				 
                
            </tr>
			</thead>
			<tbody>
                 <tr><td rowspan="{{colspan}}">{{morassAmount|number_format}}</td>  </tr>
				 {% for paragraph in paragraphs %}
                <tr>
                <td><a href="{{ path('paragraph_edit', { 'id': paragraph.id }) }}"> {{ paragraph.idp }} </a></td>
                <td></td>
				
				<td> {{ paragraph.title }}</td>
				<td> </td>
				</tr>
				
			{% for line in lines[paragraph.id] %}
			<tr>
			<td> </td>
				<td><a href="{{ path('line_edit', { 'id': line.id }) }}"> {{ line.idl }} </a></td>
				<td> {{ line.title }}</td>
				<td> {{line.amount|number_format}}</td>
				<td>{% if line in userLines%} {{line.consumedAmount|number_format}} {% endif %}</td>
				</tr>
				{%endfor%}
				{%endfor%}

        </tbody>
    </table>
     <a class="btn btn-primary pull-right" href="{{ path('morass_index') }}">العودة إلى اللائحة </a>
     <a class="btn btn-primary pull-right" href="{{ path('morass_line_transfer' , { 'id': morass.id }) }}">ترحيل النفقات بين السطور</a>
{% endblock %}

{% block js %}
{{parent()}}
 
 <!-- Datatables -->
    <script src="{{asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{asset('assets/vendors/build/js/custom.min.js')}}"></script>
	
    <!-- Datatables -->
    <script>
      $(document).ready(function() {

        $('#datatable').dataTable({
		language:{
				 "sProcessing":   "جارٍ التحميل...",
			"sLengthMenu":   " _MENU_ أظهر",
			"sZeroRecords":  "لم يعثر على أية سجلات",
			"sInfo":         "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
			"sInfoEmpty":    "يعرض 0 إلى 0 من أصل 0 سجل",
			"sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
			"sInfoPostFix":  "",
			"sSearch":       "ابحث:",
			"sUrl":          "",
			"oPaginate": {
				"sFirst":    "الأول",
				"sPrevious": "السابق",
				"sNext":     "التالي",
				"sLast":     "الأخير"
    }
		
		}
		});


      });
    </script>
    <!-- /Datatables -->
    {% endblock %}

