<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>
<table style="height: 388px;" width="588" cellpadding="0">
<tbody>
<tr>
<td>N&deg; 98/2017</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
<p style="text-align: right;">المملكة المغربية &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</p>
<p style="text-align: right;">وزارة الأوقاف والشؤون الإسلامية</p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
<h1 style="text-align: center;"><strong>طلب التحويل</strong></h1>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">{{movement.amountMv}} :</td>
<td style="text-align: right;">يؤذن بتنفيذ مبلغ</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">{{amountLetters}} درهم:</td>
<td style="text-align: right;">بالحروف</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">{{name}} :</td>
<td style="text-align: right;">في اسم</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">{{object}} :</td>
<td style="text-align: right;">الموضوع</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">:</td>
<td style="text-align: right;">المرجع</td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
</td>
<td>:الرباط في</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
</td>
<td>&nbsp;</td>
<td style="text-align: center;">&nbsp;<strong>التوقيعــات</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;"><strong>خاص بالقسم المالي</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">.....................نفذ بحوالة عدد</td>
</tr>
</tbody>
</table>
<table style="height: 317px; width: 596px;">
<tbody>
<tr>
<td style="width: 193px;">
<table style="height: 86px;" width="175" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</td>
<td>
<p>&nbsp;</p>
<p>أثبت بسجل السحب</p>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;......................</td>
<td>صفحة</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;......................</td>
<td>بتاريخ</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; الإمضاء</p>
<p>&nbsp;</p>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 195px;">
<table  style="height: 86px; border-collapse:collapse;" width="175" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 21px;">&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</td>
<td style="width: 117px;">
<p>&nbsp;</p>
<p>أثبت بسجل السحب</p>
</td>
<td style="width: 29px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 21px;">&nbsp;</td>
<td style="width: 117px;">&nbsp;......................</td>
<td style="width: 29px;">صفحة</td>
</tr>
<tr>
<td style="width: 21px;">&nbsp;</td>
<td style="width: 117px;">&nbsp;.....................</td>
<td style="width: 29px;">بتاريخ</td>
</tr>
<tr>
<td style="width: 21px;">&nbsp;</td>
<td style="width: 117px;">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; الإمضاء</p>
<p>&nbsp;</p>
</td>
<td style="width: 29px;">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 186px;">
<table style="height: 199px; float: left; width: 172px;" border="1" cellspacing="0">
<tbody>
<tr style="height: 23px;">
<td style="text-align: right; width: 91px; height: 23px;">.............سنة&nbsp;</td>
<td style="text-align: right; width: 71px; height: 23px;">&nbsp;......&nbsp;&nbsp; شهر</td>
</tr>
<tr style="height: 21px;">
<td style="width: 91px; height: 21px;">.................</td>
<td style="text-align: right; width: 71px; height: 21px;">ملف عدد</td>
</tr>
<tr style="height: 23px;">
<td style="width: 91px; height: 23px;">.................</td>
<td style="text-align: right; width: 71px; height: 23px;">الباب</td>
</tr>
<tr style="height: 19px;">
<td style="width: 91px; height: 19px;">.................</td>
<td style="text-align: right; width: 71px; height: 19px;">الفصل</td>
</tr>
<tr style="height: 18px;">
<td style="width: 91px; height: 18px;">.................</td>
<td style="text-align: right; width: 71px; height: 18px;">الفقرة</td>
</tr>
<tr style="height: 14px;">
<td style="width: 91px; height: 14px;">.................</td>
<td style="text-align: right; width: 71px; height: 14px;">البنك</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>





<hr>






<table style="height: 388px;" width="588" cellpadding="0">
<tbody>
<tr>
<td>N&deg; 98/2017</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
<p style="text-align: right;">المملكة المغربية &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</p>
<p style="text-align: right;">وزارة الأوقاف والشؤون الإسلامية</p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
<h1 style="text-align: center;"><strong>طلب التحويل</strong></h1>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">{{movement.amountMv}} :</td>
<td style="text-align: right;">يؤذن بتنفيذ مبلغ</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">{{amountLetters}} درهم:</td>
<td style="text-align: right;">بالحروف</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">{{name}} :</td>
<td style="text-align: right;">في اسم</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">{{object}} :</td>
<td style="text-align: right;">الموضوع</td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
</td>
<td>:الرباط في</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
</td>
<td>&nbsp;</td>
<td style="text-align: center;">&nbsp;<strong>التوقيعــات</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;"><strong>خاص بالقسم المالي</strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: right;">.....................نفذ بحوالة عدد</td>
</tr>
</tbody>
</table>
<table style="height: 317px; width: 596px;">
<tbody>
<tr>
<td style="width: 193px;">
<table style="height: 86px;" width="175" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</td>
<td>
<p>&nbsp;</p>
<p>أثبت بسجل السحب</p>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;......................</td>
<td>صفحة</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;......................</td>
<td>بتاريخ</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; الإمضاء</p>
<p>&nbsp;</p>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 195px;">
<table  style="height: 86px; border-collapse:collapse;" width="175" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 21px;">&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</td>
<td style="width: 117px;">
<p>&nbsp;</p>
<p>أثبت بسجل السحب</p>
</td>
<td style="width: 29px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 21px;">&nbsp;</td>
<td style="width: 117px;">&nbsp;......................</td>
<td style="width: 29px;">صفحة</td>
</tr>
<tr>
<td style="width: 21px;">&nbsp;</td>
<td style="width: 117px;">&nbsp;.....................</td>
<td style="width: 29px;">بتاريخ</td>
</tr>
<tr>
<td style="width: 21px;">&nbsp;</td>
<td style="width: 117px;">
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; الإمضاء</p>
<p>&nbsp;</p>
</td>
<td style="width: 29px;">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 186px;">
<table style="height: 199px; float: left; width: 172px;" border="1" cellspacing="0">
<tbody>
<tr style="height: 23px;">
<td style="text-align: right; width: 91px; height: 23px;">.............سنة&nbsp;</td>
<td style="text-align: right; width: 71px; height: 23px;">&nbsp;......&nbsp;&nbsp; شهر</td>
</tr>
<tr style="height: 21px;">
<td style="width: 91px; height: 21px;">.................</td>
<td style="text-align: right; width: 71px; height: 21px;">ملف عدد</td>
</tr>
<tr style="height: 23px;">
<td style="width: 91px; height: 23px;">.................</td>
<td style="text-align: right; width: 71px; height: 23px;">الباب</td>
</tr>
<tr style="height: 19px;">
<td style="width: 91px; height: 19px;">.................</td>
<td style="text-align: right; width: 71px; height: 19px;">الفصل</td>
</tr>
<tr style="height: 18px;">
<td style="width: 91px; height: 18px;">.................</td>
<td style="text-align: right; width: 71px; height: 18px;">الفقرة</td>
</tr>
<tr style="height: 14px;">
<td style="width: 91px; height: 14px;">.................</td>
<td style="text-align: right; width: 71px; height: 14px;">البنك</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<script type="text/javascript">window.print();</script>
</body>
</html>