{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{%block xTitle%}
            <h2>Changer mot de passe</h2>
        {% endblock %}
{% block fos_user_content %}

                    	{{ form_start(form) }}

                            {{ form_row(form.current_password) }}
                        	{{ form_row(form.plainPassword) }}

								<a class="btn btn-inverse" href="{{ path('eai_gestion_auto_homepage')}}">
                                <i class="icon-chevron-left icon-white"></i>
                                Retour au profil
                            </a>
                            <button class="btn btn-primary pull-right" >Changer<i class="icon-ok icon-white"></i>
                                                    </button>
                        </tr>
                        {{ form_rest(form) }}
{% endblock fos_user_content %}
{#
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>

        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
#}