{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <div class="span12">
        {% block pageTitle %}
                    
            <h1>Changer mot de passe</h1>
 
        {% endblock %}
    </div>
    <div>
        <div class="span4" id="sidebar">
        </div>
        <div class="span8">
            {% block body -%}
                <div class="block span6">
                 <div class="table-resonsive">
                    <table class="table">
                    	{{ form_start(form) }}
                    <tbody>
                        <tr>
                        	<td colspan="2">
                            {{ form_row(form.current_password) }}
                            </td>
                        </tr>
                        <tr>
                        	<td colspan="2">
                        	{{ form_row(form.plainPassword) }}
                        	</td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-inverse" href="{{ path('eai_gestion_auto_homepage')}}">
                                <i class="icon-chevron-left icon-white"></i>
                                Retour au profil
                            </a></td>
                            <td><button class="btn btn-primary pull-right" >Changer<i class="icon-ok icon-white"></i>
                                                    </button></td>
                        </tr>
                        {{ form_rest(form) }}
                    </tbody>
                </table>
        </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{#
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>

        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
#}