{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}


{% block xTitle %}
    <h2> إضافة مندوبية </h2>
{% endblock %}
{% block fos_user_content %}
      {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left', 'id':'demo-form2'}}) }}
      
      <div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{ form_label(form.firstName) }}<span class="required"></span>
         </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.firstName,{'attr': {'class': 'form-control col-md-7 col-xs-12', 'id':'first-name'}}) }}
        </div>
        </div>

          <div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{ form_label(form.lastName) }}<span class="required"></span>
         </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.lastName,{'attr': {'class': 'form-control col-md-7 col-xs-12', 'id':'first-name'}}) }}
        </div>
        </div>

          <div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{ form_label(form.username) }}<span class="required"></span>
         </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.username,{'attr': {'class': 'form-control col-md-7 col-xs-12', 'id':'first-name'}}) }}
        </div>
        </div>

        <div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{ form_label(form.email) }}<span class="required"></span>
         </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.email,{'attr': {'class': 'form-control col-md-7 col-xs-12', 'id':'first-name'}}) }}
        </div>
        </div>

        <div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{ form_label(form.current_password) }}<span class="required"></span>
         </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.current_password,{'attr': {'class': 'form-control col-md-7 col-xs-12', 'id':'first-name'}}) }}
        </div>
        </div>
        
        <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a class="btn btn-primary" href="{{ path('delegation_index') }}">العودة إلى اللائحة</a>
                <input type="submit" class="btn btn-success" value="إحداث">

            </div>
        </div>


    {{ form_end(form) }}
{% endblock fos_user_content %}