{% extends "::layout.html.twig" %}
  {% block title %}
     {{parent()}} - Gestion de tresorerie
      {% endblock %}
          {% block pageContent %}

                          <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          
          <!-- /top tiles -->

          <br />

         

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                {% block xTitle %}
                  <h2></h2>
                 {% endblock %}
               
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="dashboard-widget-content">

                  {% if app.session.flashBag.has('notice') %}
                  {% for msg in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success fade in" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        
                            {{ msg }}
                        
                    </div>
                  {% endfor %}
                {% endif %}


                {% if app.session.flashBag.has('error') %}
                  {% for msg in app.session.flashBag.get('error') %}
                    <div class="alert alert-error fade in" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ msg }}
                    </div>
                  {% endfor %}
                {% endif %}

                {# On affiche les messages flash que définissent les contrôleurs du bundle #}

                  {% if form is defined%}
                  {% if not form.vars.valid %}
                    <div class="alert alert-error">
                        <ul>
                            {# Loop through every form item #}
                            {% for child in form.children %}
                                {# Display the errors of the form item #}
                                {%for error in child.vars.errors%}
                                    <li>{{error.message}}</li>
                                {%endfor%}
                            {%endfor%}
                        </ul>
                    </div>
                  {%endif%}
                  {%endif%}

                   {% if edit_form is defined%}
                  {% if not edit_form.vars.valid %}
                          <div class="alert alert-error">
                  <ul>
                      {# Loop through every form item #}
                      {% for child in edit_form.children %}
                          {# Display the errors of the form item #}
                          {%for error in child.vars.errors%}
                              <li>{{error.message}}</li>
                          {%endfor%}
                      {%endfor%}
                  </ul>
                          </div>
                  {%endif%}
                  {%endif%}
                  {% block content %}

                    <ul class="list-unstyled timeline widget">
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                              <a>Solde actualisé le 18/01/2017 à 12:00 est: 20 000 000 DH</a>
                            </h2>
                  {% endblock %}
                          </div>
                        </div>
                      </li>
                     
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-8 col-sm-8 col-xs-12">



            </div>
          </div>
        </div>
        <!-- /page content -->
          {% endblock %}
