{% extends "compteBundle::layout.html.twig" %}


{% block xTitle %}
    <h2> إضافة تحويل </h2>
{% endblock %}
{% block content %}
      {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left', 'id':'demo-form2'}}) }}
	  
      <div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{form_label(form.amountMv, "الرصيد")}}<span class="required"></span>
         </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.amountMv,{'attr': {'class': 'form-control col-md-7 col-xs-12', 'id':'first-name'}}) }}
        </div>
        </div>

        <div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{form_label(form.dateMv, "تاريخ التحويل")}}<span class="required"></span>
         </label>
		 
		 
		 
		 
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.dateMv,{'attr': {'class': 'datepicker form-control col-md-7 col-xs-12','id':'birthday'}}) }}
        </div>
		
		
        </div>
		
		
		
		<div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{form_label(form.months, "عدد الأشهر")}}<span class="required"></span>
         </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.months,{'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
        </div>
		
		<div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{form_label(form.realDateMv, "التاريخ الحقيقي")}}<span class="required"></span>
         </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.realDateMv,{'attr': {'class': 'datepicker form-control col-md-7 col-xs-12'}}) }}
        </div>
        </div>
		
		<div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{form_label(form.line, "السطر")}}<span class="required"></span>
         </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.line,{'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
        </div>
		
		<div class="form-group">
         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> {{form_label(form.codificationABB, "الترميز")}}<span class="required"></span>
         </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.codificationABB,{'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
        </div>




      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            {{form_label(form.selectCreditAccount,"type de compte Crediteur")}}
         </label>
         <div class="col-md-2 col-sm-2 col-xs-4">
         {{form_widget(form.selectCreditAccount, {'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
         </div>

        <div id="creditAccount" class="col-md-4 col-sm-4 col-xs-8">
        {{ form_widget(form.creditAccount,{'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>

      <div id="creditEAccount" class="col-md-4 col-sm-4 col-xs-8">
        {{ form_widget(form.creditEAccount,{'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>
        </div>


      <div class="form-group">
         
        
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            {{form_label(form.selectDebitAccount,"type de compte Debiteur")}}
         </label>
         <div class="col-md-2 col-sm-2 col-xs-4">
         {{form_widget(form.selectDebitAccount, {'attr':{'class':'form-control col-md-7 col-xs-12'}})}}
         </div>
        <div id="debitAccount" class="col-md-4 col-sm-4 col-xs-8">
        {{ form_widget(form.debitAccount,{'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>


      <div id="debitEAccount" class="col-md-4 col-sm-4 col-xs-8">
        {{ form_widget(form.debitEAccount,{'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
        </div>


      </div>
		



       
		
        <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a class="btn btn-primary" href="{{ path('movement_index') }}">العودة إلى اللائحة</a>
                <input type="submit" class="btn btn-success" value="إحداث">

            </div>
        </div>


    {{ form_end(form) }}

    {% endblock %}
	
  {% block js %}
  {{ parent() }}
	 <script src="{{asset('assets/vendors/moment/min/moment.min.js')}}"></script>
    <script src="{{asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
	 <!-- jQuery -->
    <script src="{{asset('assets/vendors/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{asset('assets/build/js/custom.min.js')}}"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="{{asset('assets/vendors/moment/min/moment.min.js')}}"></script>
    <script src="{{asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.js')}}"></script>

    <script>
      $(document).ready(function(){
        $(".datepicker").daterangepicker({
          locale: {
                format: 'DD/MM/YYYY'
          },
          singleDatePicker: true,
          calender_style: "picker_4",
        });
        changeCreditAccount();
        changeDebitAccount();

        $("#comptebundle_movement_selectCreditAccount").change(changeCreditAccount);
        $("#comptebundle_movement_selectDebitAccount").change(changeDebitAccount);
      });

      function changeCreditAccount(){
       if($("#comptebundle_movement_selectCreditAccount").val()=="1"){
          $("#creditEAccount").hide();
          $("#creditAccount").show();
        }

        if($("#comptebundle_movement_selectCreditAccount").val()=="2"){
          $("#creditAccount").hide();
          $("#creditEAccount").show();
        }
      }


       function changeDebitAccount(){
       if($("#comptebundle_movement_selectDebitAccount").val()=="1"){
          $("#debitEAccount").hide();
          $("#debitAccount").show();
        }

        if($("#comptebundle_movement_selectDebitAccount").val()=="2"){
          $("#debitAccount").hide();
          $("#debitEAccount").show();
        }
      }
    </script>
{% endblock %}

        
